EllipseMatchingC++/obj/*
EllipseMatchingC++/bin
EllipseMatchingC++/version
EllipseMatchingC++/*.txt
EllipseMatchingMatlab/*.txt
EllipseMatchingMatlab_DEBUG/*.txt
EllipseMatchingTesting/*.pyc
ERROR_ELLS/*
*.ell
*.txt
